body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    90deg,
    rgb(5, 1, 87) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(15, 192, 228) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333;
}

.main-container {
  display: flex;
  flex-direction: column; /* Alinha os contêineres verticalmente */
  align-items: center;
  gap: 20px; /* Espaçamento entre os contêineres */
}

.Container-Media {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Adicionado para alinhar verticalmente */
  align-items: center;
  background: rgba(255, 255, 255, 0.9); /* Fundo branco translúcido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="number"]:focus {
  border-color: #4caf50;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
